@{
    ViewData["Title"] = "Ettevõttest";
}
<h1>@ViewData["Title"]</h1>

<p>
    Tere kõigile külastajatele, meil on hea meel teatada, et meie juuksurisalong avab uksed Tallinna kesklinnas, vanalinnas.
    Tule, kõik on oodatud!
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.7385170099355!2d24.74890821619151!3d59.43743550939177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469293dfd1c96f49%3A0x4cb62db788dd13e9!2sTruman%20Vanalinn!5e0!3m2!1set!2see!4v1667372716331!5m2!1set!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
